{
	"WebPort":20016,
	"IsTest":false,
	"IsDebug":false,
	"LogPath":"Log/",
	"DbConnection":
	{
		"PlayerDb":
		{
			"Driver":"mysql",
			"ConnectionString":"root:1234@tcp(127.0.0.1:3306)/hello?charset=utf8"
		},
		"ModelDb":
		{
			"Driver":"mysql",
			"ConnectionString":"root:1234@tcp(127.0.0.1:3306)/hello?charset=utf8"
		}
	}
}