<Config>
	<WebPort>20016</WebPort>
	<IsTest>false</IsTest>
	<IsDebug>false</IsDebug>
	<LogPath>Log/</LogPath>
	<DbConnection>
		<PlayerDb Driver="mysql">root:1234@tcp(127.0.0.1:3306)/hello?charset=utf8</PlayerDb>
		<ModelDb Driver="mysql">root:1234@tcp(127.0.0.1:3306)/hello?charset=utf8</ModelDb>
	</DbConnection>
</Config>